
:root {
    --page-margin: 28px;
}

@media screen and (min-width: 768px) {
    :root {
        --page-margin: 40px;
    }
}

body {
    margin: var(--page-margin);

    background: linear-gradient(180deg, #757070 0%, #454141 100%);
    background-image: url(background.png), linear-gradient(180deg, #757070 0%, #454141 100%);
    background-blend-mode: multiply, normal;
    background-size: cover;

    /* text */
    color: #fff;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.main-title {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-size: 40.0652px;
    font-size: 3rem;

    position: absolute;

    transform: rotate(-7.98deg);
}

.col {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 24px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 32px;
}

.maneki {
    mix-blend-mode: lighten;
}

.first-paragraph {
  margin-top: 150px;
}

a {
  color: rgb(170, 170, 217);
}

@media screen and (min-width: 768px) {
    .main-title {
        line-height: 80px;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        line-height: 40px;
    }

    section {
      display: flex;
      flex-direction: column;
    }

    .col {
      width: 100%;
      max-width: 100%;
    }
}